@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
#contentwrap{
    width: 100vw;
    height: 100%;
    display: flex;
}
/* 왼쪽 사이드 메뉴 */
#contentwrap .left-menu{
    float: left;
    width: 260px;
    background-color: #fdeba4;
}
img.mainlogo{
    margin:15px 50px;
    width: 145px;
    object-fit: contain;
}
.tab-content{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 40px;
    row-gap: 38px;
    list-style-type: none;
}
.tab-content li{
    font-weight: bold;
    font-size: 18px;
    color: #454342;
    cursor: pointer;
}



/* 오른쪽 컨텐트 */
#contentwrap .content{
    float: left;
    width: 100%;
    /* background-color: #B5B8B1; */
    background-color: white;
    
}
.menu-content{
    display: none;
}
.menu-content.current{
    display: block;
}